:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;

  --title-color: #212121;
  --secondary-title-color: #ffffff;
  --text-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --header-border-color: #ececec;
  --hero-hover-color: #188ce8;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --portf-btn-color: #f5f4fa;
  --portf-border-color: #eeeeee;

  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --hero-size: 44px;
  --title-size: 36px;
  --subtitle-size: 18px;
  --note-size: 16px;
  --text-size: 14px;
  --hero-weight: 900;
  --head-weight: 700;
  --secondary-weight: 500;
  --main-weight: 400;
}

/* section {
  background-color: aquamarine;
  outline: 2px solid yellow;
} */

h1,
h2,
h3,
h4,
li,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--text-color);
  background-color: var(--primary-background-color);
}

/* скрытый заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
  font-size: 14px;
  color: var(--title-color);
}
.list {
  padding-left: 0;
  list-style: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  outline: none;
}

.current {
  color: var(--accent-color);
}

.button {
  font-style: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  outline: none;
  background-color: var(--accent-color);
}

.item:not(:last-child) {
  margin-right: 30px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--header-border-color);
}

.logo {
  font-family: var(--accent-font);
  font-weight: var(--head-weight);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.accent {
  color: var(--accent-color);
}

.header-container {
  display: flex;
}

/* кнопки навигации */
.nav-link {
  display: block;

  font-weight: var(--secondary-weight);
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* адрес в header  */
.header-contacts {
  display: block;
  font-weight: var(--secondary-weight);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* Header в строку */
/* .page-header, */
.nav,
.nav-list,
.nav-address {
  display: flex;
  align-items: center;
}

.nav-link,
.header-contacts {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-item {
  margin-left: 93px;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.address-item + .address-item {
  margin-left: 50px;
}

.nav-address {
  margin-left: auto;
}

/* hero */
.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-background-color);
  /* background-color: rgba(47, 48, 58, 0.4);
  background-image: url(/images/bground.jpg); */
  max-width: 1600px;
  background-size: cover;
}
/* заголовок героя h1*/
.hero-title {
  font-weight: var(--hero-weight);
  font-size: var(--hero-size);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.hero-inner {
  margin: 0 auto 30px;
  width: 696px;
  text-align: center;
}
/* кнопка героя */
.hero-button {
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 200px;
  display: block;
  font-weight: var(--head-weight);
  font-size: var(--note-size);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-hover-color);
}

/* Преимущества  */
/* Заголовки h3 */

.advant-title {
  margin-bottom: 10px;
  font-weight: var(--head-weight);
  font-size: var(--text-size);
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.advant-item {
  width: 270px;
  display: block;
}

/* текст преимущества p */
.advant-text {
  font-size: var(--text-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-list {
  display: flex;
  justify-content: space-between;
}
/* названия секций h2*/
.title {
  font-size: var(--title-size);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

/* Чем мы занимаемся */
.branches-section {
  padding-top: 0;
}

/* Наша команда */
.team-section {
  background-color: var(--secondary-background-color);
}

.section-title {
  margin-bottom: 50px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
}

/* имя фамилия h2 */
.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: var(--secondary-weight);
  font-size: var(--note-size);
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

/* должности p */
.team-descr {
  padding-bottom: 30px;
  font-size: var(--note-size);
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

/* Footer */
.footer {
  background-color: var(--title-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-background-color);
}
.footer-item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}
.address {
  font-style: inherit;
}

.footer-address {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}

.footer-contacts {
  line-height: 1.71;
  color: var(--footer-address-color);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* ПОРТФОЛИО */
.portf-btn {
  padding: 6px 22px;
  font-weight: var(--secondary-weight);
  font-size: var(--note-size);
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--secondary-background-color);
}

.portf-btn:hover,
.portf-btn:focus {
  color: var(--primary-background-color);
}

.portf-list,
.button-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-list {
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

/* *Так проще */
/* .portf-list {  
  gap: 30px;
} */

/* *Но мы не ищем легких путей */
.portf-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: left;
  background: var(--primary-background-color);
}

.portf-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portf-item {
  text-align: left;
  background: var(--primary-background-color);
}

.portf-name {
  margin-bottom: 4px;
  font-weight: var(--head-weight);
  font-size: var(--subtitle-size);
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.portf-descr {
  font-size: var(--note-size);
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid var(--portf-border-color);
}
